
<div class="container">
  <h2>About</h2>
  <p>Welcome to my Ruby on Rails Learning Project!</p>
  <p>My goal is simple: to gain hands-on experience in Ruby on Rails and Bootstrap while building a functional web application.</p>
  <p>This project is my personal learning journey, where I'm exploring the world of web development, from creating dynamic web pages to handling user authentication and beyond.</p>
  <p>Feel free to dive in and explore the codebase! You can clone my repository from GitHub and use it as a valuable resource to learn and practice Ruby on Rails and Bootstrap.</p>
  
  <div class="text-center">
    <a href="https://github.com/mynguy/foodBankApp" class="btn btn-primary">Clone on GitHub</a>
  </div>
</div>
